.new-project {
  padding-top: 3rem;
  button {
    padding-left: 3rem !important;
  padding-right: 1.4rem !important;
  line-height: 1.9rem !important;
  background-image: url(./new-project-logo.svg);
  background-position: 0.8rem center;
  background-repeat: no-repeat;
  }
}
